# Fastapi
fastapi/__pycache__/
fastapi/**/__pycache__/
fastapi/*.py[cod]
fastapi/*$py.class
fastapi/.pytest_cache/
fastapi/.coverage
fastapi/htmlcov/
fastapi/.env
fastapi/venv/
fastapi/.venv/

# DBT
dbt/logs/
dbt/target/
dbt/dbt_packages/
dbt/dbt_modules/
dbt/.user.yml
dbt/profiles.yml

dagster/dbt/logs/
dagster/dbt/target/
dagster/dbt/dbt_packages/
dagster/dbt/dbt_modules/
dagster/dbt/.user.yml

# Virtual environments
.venv/
venv/
fastapi-venv/
dbt-venv/
ingestion-venv/
dagster-venv/
ENV/
env/

# FastAPI / Uvicorn logs
fastapi/*.log
fastapi/colorizer

# VS Code / PyCharm / IDEs
.vscode/
!.vscode/settings.json
!.vscode/extensions.json
.idea/
*.code-workspace

# dotenv
**/.env
**/.env.*
!**/.env.example

# Migrations
**/alembic/versions/

# Byte-compiled files
*.pyc
*.pyo

# Tests & coverage
htmlcov/
.coverage
coverage.xml
.cache
.pytest_cache/

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Profiling
.prof

# Docker
*.pid
*.bak
*.swp
docker-compose.override.yml

# Local database or dev files
*.db
*.sqlite3

# Temporary folders
.tmp*/

graphify-out/